microservices/person/src/main/resources/wsdl/person.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.sose.univaq.it/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="PersonSOAPServiceImplService" targetNamespace="http://service.sose.univaq.it/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service.sose.univaq.it/" elementFormDefault="unqualified" targetNamespace="http://service.sose.univaq.it/" version="1.0">
            <xs:element name="getPerson" type="tns:getPerson"/>
            <xs:element name="getPersonResponse" type="tns:getPersonResponse"/>
            <xs:complexType name="getPerson">
                <xs:sequence>
                    <xs:element name="arg0" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getPersonResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="tns:person"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="person">
                <xs:sequence>
                    <xs:element name="id" type="xs:long"/>
                    <xs:element minOccurs="0" name="name" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getPerson">
        <wsdl:part element="tns:getPerson" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getPersonResponse">
        <wsdl:part element="tns:getPersonResponse" name="parameters"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="PersonSOAPService">
        <wsdl:operation name="getPerson">
            <wsdl:input message="tns:getPerson" name="getPerson"> </wsdl:input>
            <wsdl:output message="tns:getPersonResponse" name="getPersonResponse"> </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PersonSOAPServiceImplServiceSoapBinding" type="tns:PersonSOAPService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getPerson">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getPerson">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getPersonResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PersonSOAPServiceImplService">
        <wsdl:port binding="tns:PersonSOAPServiceImplServiceSoapBinding" name="PersonSOAPServiceImplPort">
            <soap:address location="http://localhost:4000/sose/person"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>